@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Inclusive+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Inclusive+Sans:ital@0;1&family=Kavoon&display=swap');

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkslateblue;
  font-family: "Inclusive Sans", sans-serif;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 60px;
  margin: 30px 0;
  color: rgb(227, 114, 43);
  z-index: 1;
  text-align: center;
  font-family: "Danfo", serif;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 50px;
  }
}